CTitleBar {
    background: rgb(37,37,38);
     /* border-top-right-radius: 5px;
    border-top-left-radius: 5px; */
}

#CTitleBar_buttonClose {
    border-top-right-radius: 5px;
}
#CTitleBar_icon{
    margin-left:5px;
}
#CTitleBar_labelTitle{
    font-size:16px;
    color:rgb(228,228,228);
    /* color:rgb(255,0,0); */
    font-family: Arial, 'Segoe UI', Tahoma, "Microsoft YaHei", sans-serif;
    margin-left:2px;
}
#bottomWidget {
    background: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
CTitleBar > QPushButton {
    background: transparent;
    color:rgb(178,178,178);
    /* color:red; */
    background-color:rgb(37,37,38)
    
}
CTitleBar > QPushButton:hover {
    background: rgb(86, 86, 86);
}
CTitleBar > QPushButton:pressed {
    background: rgba(0, 0, 0, 60);
}
#CTitleBar_buttonClose:hover {
    color: white;
    background: rgb(232, 17, 35);
}
#CTitleBar_buttonClose:pressed {
    color: white;
    background: rgb(165, 69, 106);
}